<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">               
        <img src="/img/logoit.JPG" style="height: 50px;">
        <!-- <h4 class="font-weight-bold ml-5" style="color: rgb(2, 121, 251);">ประจำปี</h4> -->
        <h4 id="atYear" class="ml-4 mt-3" style="color: rgb(2, 121, 251);">ประจำปี <%= user.year %> </h4>

        <ul class="navbar-nav ml-auto navbar-right-top bg-success">
            <li class="nav-item dropdown notification">
                <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                    <li>
                        <div class="list-footer"> <a href="#">การแจ้งเตือนทั้งหมด</a></div>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown nav-user">
                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img id="pic" src="/img/profile.jpg" alt="ผู้ใช้งาน"
                        class="user-avatar-md rounded-circle"></a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                    aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info">
                        <h5 class="mb-0 text-white nav-user-name user" id="user"><%= user.name %></h5>
                        <span class="status"></span><span class="ml-2" id="rol2"></span>
                    </div>
                    <a class="dropdown-item" href="/api/auth/signout"><i
                            class="fas fa-power-off mr-2"></i>ออกจากระบบ</a>
                </div>
            </li>
        </ul>
    </nav>
</div>