<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#">
                <img src="/img/itlogo.png" alt="ITschool Logo" style="width:40px;" class="rounded-pill">
            </a>
            <span id="school" class="navbar-text">สำนักวิชาเทคโนโลยีสารสนเทศ</span>
            <span class="navbar-text mx-4">ครุภัณฑ์ประจำปี <span id="year"><%= year %></span></span>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLogin">เข้าสู่ระบบ</button>
    </div>
</nav>