<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css"
        rel="stylesheet" />
    <script type="text/javascript"
        src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>

    <!-- Button export -->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script text="script" src="/JS_Files/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <title>ครุภัณฑ์</title>

    <style>
        #Location {
            width: 73px;
            height: 20px;
        }

        #Status {
            width: 70px;
            height: 20px;
        }
    </style>
</head>

<body style="background-color:white">
    <div class="dashboard-main-wrapper">
        <!-- navbar -->
        <%- include('./partials/topbar.ejs') %>
        <!-- sidebar -->
        <%- include('./partials/sidebar.ejs') %>

        <!-- main content -->
        <div class="dashboard-wrapper">
            <div class="dashboard-finance">  
                <div class="container mt-4" style="background-color: white;">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>ครุภัณฑ์ปี</h2>
                            <select id="selectYear">
                                <option value="2564">2564</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success rounded float-right" data-toggle="modal"
                                data-target="#modalPushExcel" id="#" style="width: 20%;">นำออกไฟล์</button>
                            <button class="btn btn-primary rounded float-right mr-2" data-toggle="modal"
                                data-target="#upload" id="import" style="width: 20%;">นำเข้าไฟล์</button>
                        </div>
                    </div>
                </div>

                <div class="container" style="background-color: white;">
                    <div class="row my-3">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <select class="float-right">
                                <option value="0">สร้าง QR/BarCode</option>
                                <option id="selectQR" value="1">สร้าง QRcode</option>
                                <option id="selectBar" value="2">สร้าง Barcode</option>
                            </select>
                            <select id="selectPhoto" class="float-right mx-2">
                                <option value="0">ตั้งค่าการถ่ายรูป</option>
                                <option value="1">ถ่ายรูปเฉพาะที่เลือก</option>
                                <option value="2">ไม่ถ่ายรูปเฉพาะที่เลือก</option>
                                <option value="1">ถ่ายรูปทั้งหมด</option>
                                <option value="2">ไม่ถ่ายรูปทั้งหมด</option>
                            </select>                            
                        </div>
                    </div>

                    <div class="row my-3 py-3 border">
                        <div id="customFilter"></div>
                    </div>
                </div>

                <div class="container my-3">
                    <table id="myTable" class="table table-striped table-bordered mt-4" style="width:100%">
                    </table>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- จบตาราง -->

            <!-- Modal: Export to excel -->
            <div class="modal fade" id="modalPushExcel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-notify modal-info" role="document" style="width: 400px;">
                    <!--Content-->
                    <div class="modal-content text-center">
                        <!--Header-->
                        <div class="modal-header d-flex justify-content-center">
                            <p class="heading">นำออกไฟล์</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="CloseModal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <!--Body-->
                        <div class="modal-body">
                            <i class="fas fa-bell fa-4x animated rotateIn mb-4"></i>
                            <p>กรุณาเลือกชนิดไฟล์ที่จะนำออก</p>
                        </div>

                        <!--Footer-->
                        <div class="modal-footer">
                            <div class="container mx-auto">
                                <div class="" id="ExportFile"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal: Import Excel file -->
            <div class="modal fade bd-example-modal-md" id="upload" tabindex="-1" role="dialog"
                aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">นำเข้าไฟล์ Excel ไปยังระบบ</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="formImport" method="post" enctype="multipart/form-data">
                                <input type="file" name="filetoupload" id="fileUpload" accept=".xlsx, .xls"><br>
                                <input type="submit" class="btn btn-primary rounded mt-3" value="นำเข้าไฟล์">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- เสร็จ modal  -->
            <!-- ============================================================== -->
            <div class="modal bd-example-modal-sm fade" id="alertmodal" tabindex="-1" role="dialog"
                aria-labelledby="mySmallModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color : #3f3f3f">
                        <div class="modal-body">
                            <h5 style="color: #ffffff; font-weight:bold;">ประกาศ</h5>
                            <p class="alertText" style="color: white">กรุณาติดต่อเพื่อขอใช้บริการ</p>
                            <input class="btn btn-sm" type="button" value="ตกลง" data-dismiss="modal"
                                style="float: right; background-color: #0a72c1; color:white">
                            <div class="but"></div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- เสร็จ modal  -->
            <!-- ============================================================== -->
            <!-- </div> -->

            <!-- ============================================================== -->
            <!-- modal  datatable -->
            <!-- ============================================================== -->
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">รายละเอียดครุภัณฑ์</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5 mt-5 ml-3">
                                <img class="card-img-top mx-auto " id="picmodal" src="/img/Pixels.png" alt="Card image">
                            </div>
                            <div class="col-md-6 ">

                                <div class="card-body" style="color: black;">
                                    <div><span>
                                            <h3 id="Inventory_Number" class="font-weight-bold">
                                                711000100142033
                                                <!-- <p>สถานะ : สูญหาย</p> -->
                                            </h3>
                                        </span></div>

                                    <p class="date">วันที่ได้รับ : 2-20-2020 วันที่อัพโหลด : 2-20-2020</p>
                                    <p id="des">คำอธิบาย :
                                        โต๊ะยาวมากๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆ</p>
                                    <p id="mod">โมเดล : Gundum Expo ซีเรียล **** สถานที่ :E3</p>
                                    <p id="cos">รหัสแผนก : 1234 แผนกที่จัดเก็บ : สำนักเทคโนโลยีสารสนเทศ </p>
                                    <p id="value">ราคา : 500000 แหล่งที่มา : ร้านรับจ้างสารพัด ของคุณกิน</p> <br>
                                    <br> <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- เสร็จ modal  -->
            <!-- ============================================================== -->
        </div>
    </div>
    <script src="/views/asset.js"></script>
</body>

</html>