<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/header.ejs') %>
  <!-- DataTables -->
  <%- include('./partials/datatables.ejs') %>
</head>

<body>
  <%- include('./partials/topbar-visitor.ejs') %>
    <div class="container">
      <!-- <div class="row"> -->
        <table id="assetTable" class="table table-striped table-bordered" style="width:100%">
        </table>
      <!-- </div> -->
    </div>

    <!-- Login Modal -->
    <div class="modal" id="modalLogin">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Please sign in</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <input type="text" class="form-control mb-2" id="txtUsername" placeholder="Email" autofocus>
            <input type="password" class="form-control" id="txtPassword" placeholder="Password">
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" id="btnLogin" class="btn btn-primary">Login</button>
          </div>

        </div>
      </div>
    </div>
    <!-- end login modal -->

    <script src="/views/index.js"></script>
</body>

</html>