<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <title>พิมพ์ Barcode</title>
</head>
<style>

    svg {
        display: inline-block;
    }

    @media print {
        .myDivToPrint {
            background-color: white;
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            margin: 0;
            padding: 15px;
            font-size: 14px;
            line-height: 18px;
        }
        
    }
</style>

<body>
    <button class="btn btn-primary rounded" onclick="printDiv('printHere')"><i class="fa fa-print" aria-hidden="true"></i>
            Print</i></button>
    <br>

    <div class="container-fluid" id="printHere">
        <div id="qrcode" class=""></div>
    </div>


    <script src="/JS_Files/barcode.min.js"></script>    
    <script src="/views/printbarcode.js"></script>
</body>

</html>